@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0b141a;
}

::-webkit-scrollbar-thumb {
    background: #888;
    transition: all;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #777;

}